extends ../layout.pug

block title
  | Welcome home!

block page
  .jumbotron
    .container
      h1 Hello World!
      p.lead The best app ever
      p Some more info here
      p.lead
        a.btn.btn-lg.btn-primary(href='mailto:hello@builtbybig.com')
          i.fa.fa-envelope.pr-1
          | Contact Us!

